<div class="photo" (click)="navigate()">
  <p class="tag-name">{{photo.tag | titlecase}}</p>
  <p class="views">5000</p>
  <img [src]="photo.url_q">
  <div class="owner">
    <p class="title">Owners name</p>
    <p class="value"> {{photo.ownername}} </p>
  </div>
  <div class="time">
    <div class="uploaded">
      <p class="title">Uploaded</p>
      <p>{{photo.dateupload | date}}</p>
    </div>
    <div class="uploaded">
      <p class="title">Taken</p>
      <p>{{photo.datetaken | date}}</p>
    </div>
  </div>
</div>