.page-wrapper {
  padding: 3rem;
  .search {
    form {
      width: 100%;
      display: flex;
      align-items: center;
    }
    mat-form-field {
      flex: 1;
    }
    button {
      margin: 0 1rem;
    }
  }
}